[Desktop Entry]
Type=Application
Exec=OpenSpace
Name=OpenSpace
Comment=Open source astrovisualization project
Icon=openspace
Categories=Application;Science;Graphics;
StartupWMClass=SGCT
Terminal=false

Actions=Optirun;
[Desktop Action Optirun]
Exec=optirun OpenSpace
Name=Launch with optirun (Nvidia Optimus)
